{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section class="avatar" style="background: url(https://images.unsplash.com/photo-1541311097353-9a6215b5fd56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)"></section>

    <section class="details">

      <form method="POST" action="/instructors?_method=PUT">

        <h3>Editar Instrutor</h3>

        {% include 'instructors/fields.njk' %}
        <input type="hidden" name="id" value="{{instructor.id}}">

      </form>

      <form id="form-delete" action="/instructors?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="{{instructor.id}}">
        <button type="submit">Deletar</button>
      </form>

    </section>

  </div>
{% endblock content %}